@page
@model Local_Multi_Store_Online_Marketplace.Areas.Identity.Pages.Account.ExternalLoginModel
@{
    ViewData["Title"] = "External Login";
}

<h1>@ViewData["Title"]</h1>

<p>
    Processing your external login...
</p>

@if (TempData["ErrorMessage"] != null)
{
    <div class="text-danger">
        @TempData["ErrorMessage"]
    </div>
}