@page
@model ForgotPasswordConfirmation

<h2>Password Reset</h2>

<p>
    Click the link below:
</p>

@if (TempData["ResetLink"] != null)
{
    <a href="@TempData["ResetLink"]">
        Reset Password
    </a>
}