@page
@model Local_Multi_Store_Online_Marketplace.Areas.Identity.Pages.Account.VerifyRegistrationOtpModel

@{
    Layout = null;
}

<h2>Verify Your Account</h2>

<p>Enter the OTP sent to your Email and Phone</p>

<form method="post">

    <div>
        <label>Email OTP</label>
        <input asp-for="EmailOtp" />
    </div>


    <button type="submit">Verify</button>

</form>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <p style="color:red">@Model.ErrorMessage</p>
}