@page
@model Local_Multi_Store_Online_Marketplace.Pages.Deliverypages.DeliveryRequestModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Delivery Partner Request</title>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"
          rel="stylesheet">

    <style>
        body {
            margin: 0;
            font-family: Poppins;
            background: #f4f4f7;
        }

        .topbar {
            background: #111;
            color: white;
            padding: 20px 30px;
            font-size: 20px;
            font-weight: 600;
        }

        .container {
            width: 700px;
            margin: 40px auto;
        }

        .card {
            background: white;
            padding: 30px;
            border-radius: 12px;
        }

        h2 {
            margin-bottom: 25px;
        }

        label {
            display: block;
            margin-top: 15px;
            margin-bottom: 5px;
        }

        input {
            width: 100%;
            padding: 12px;
            border: 1px solid #ddd;
            border-radius: 8px;
        }

        button {
            margin-top: 25px;
            width: 100%;
            padding: 14px;
            border: none;
            border-radius: 8px;
            background: #111;
            color: white;
            font-size: 16px;
            cursor: pointer;
        }

            button:hover {
                background: #333;
            }
    </style>
</head>

<body>


    <div class="topbar">
        Delivery Partner Request
    </div>

    <div class="container">

        <div class="card">

            <h2>Become a Delivery Partner 🚚</h2>
            
            <div asp-validation-summary="All" style="color:red"></div>
            <form method="post" asp-page-handler="">

                <label>Full Name</label>
                <input asp-for="Delivery.FullName" />

                <label>Phone Number</label>
                <input asp-for="Delivery.PhoneNumber" />

                <label>Vehicle Type</label>
                <input asp-for="Delivery.VehicleType" />

                <label>Vehicle Number</label>
                <input asp-for="Delivery.VehicleNumber" />

                <label>Area</label>
                <input asp-for="Delivery.Area" />

                <label>Driving License Number</label>
                <input asp-for="Delivery.DrivingLicenseNumber" />

                <button type="submit">Submit Request</button>

            </form>

        </div>

    </div>

</body>
</html>