@page
@model CustomerAddressesModel

<h2>My Addresses</h2>

<form method="post" asp-page-handler="Add">

    <input asp-for="NewAddress.AddressLine1" placeholder="Address" />

    <input asp-for="NewAddress.City" placeholder="City" />

    <input asp-for="NewAddress.Area" placeholder="Area" />

    <button type="submit">
        Add Address
    </button>

</form>

<hr />

@foreach (var item in Model.Addresses)
{
    <p>
        @item.AddressLine1 -
        @item.City -
        @item.Area
    </p>
}