@page
@model Local_Multi_Store_Online_Marketplace.Pages.CustomerCartModel
@{
    Layout = null;
}

<h2 style="text-align:center;">Your Cart</h2>

<div style="width:600px;margin:auto;background:white;padding:20px;border-radius:12px;">

    <p>Product 1 - $20</p>
    <p>Product 2 - $50</p>

    <hr />

    <h3>Total: $70</h3>

    <button style="width:100%;padding:10px;background:#222260;color:white;border:none;border-radius:8px;">
        Checkout
    </button>

</div>