@page
@model Local_Multi_Store_Online_Marketplace.Pages.CustomerProductsModel
@{
    Layout = null;
}

<h2 style="text-align:center;">Shop</h2>

<div style="display:grid;grid-template-columns:repeat(3,1fr);gap:20px;padding:30px;">

    <div style="background:white;padding:15px;border-radius:12px;">
        <img src="/images/p1.jpg" style="width:100%;" />
        <p>T-Shirt</p>
        <button>Add</button>
    </div>

    <div style="background:white;padding:15px;border-radius:12px;">
        <img src="/images/p2.jpg" style="width:100%;" />
        <p>Shoes</p>
        <button>Add</button>
    </div>

</div>