@page
@model Local_Multi_Store_Online_Marketplace.Pages.CustomerOrdersModel

<h2 style="text-align:center;">My Orders</h2>

<div style="width:600px;margin:auto;background:white;padding:20px;border-radius:12px;">

    <p>Order #1 - Pending</p>
    <p>Order #2 - Delivered</p>

</div>